:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

.container {
  max-width: 900px;
  margin: auto;
}

body {
  margin: auto;
  padding: 15px;
  width: 90%;
  height: 90%;
  background-color: #F4F5F7;
  
}

.carousel-inner {
  margin: auto;
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}


h1 {
  font-family: "citizen", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: normal;
  text-align: left;
  padding-bottom: 15px;
  color: #2f5d66;
}

h2 {
  font-family: "citizen", sans-serif;
  font-weight: 700;
  font-style: normal; 
  text-align: center;
  color: #2f5d66;
}

h3 {
  font-family: "citizen", sans-serif;
  font-size: 1.2rem;
  font-weight: 700; 
  font-style: normal;
  text-align: center;
  padding-top: 10px;
  color: #2f5d66;
}

h4 {
  font-family: "citizen", sans-serif;
  font-weight: 700; 
  font-style: normal;
  text-align: center;
  padding-top: 10px;
  color: #2f5d66;
}

h6 {
  font-family: "citizen", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  color: #2f5d66;
}

p {
  font-family: "citizen", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  color: #2f5d66;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.img-fluid {
  display: block;
  max-width: 70%;
  margin: auto ;
}

a.normal {
  color: #f9a21e;
  text-align: center;
}

a.arrow {
    --color:#f9a21e;
    position: relative;
    text-decoration: none;
    color: var(--color);
    font-family: "citizen", sans-serif;
    font-style:italic;
    padding: 0.2rem 0;

  &::before {
    --line-width: 105%;
    --line-height: 1px;
    --line-easing: ease;
    --line-transition-duration: 300ms;

    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--line-width);
    height: var(--line-height);
    transform-origin: right;
    transform: scaleX(0);
    background: var(--color);
    transition: transform var(--line-transition-duration) var(--line-easing);
    z-index: 1;
  }

  &:hover {
    &::before {
      transform-origin: center;
      transform: scaleX(1);
    }
      span {
        --deg: -45deg;
        &::before {
          transform: rotate(var(--deg));
        }
        &::after {
          transform: translateX(-1px) rotate(var(--deg));
        }
      }
    }

    span {
      --line-arrow-width: 1px;
      --line-arrow-height: 6px;
      --line-arrow-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
      --line-arrow-transition-duration: 200ms;
      --line-arrow-transition-delay: 240ms;

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: -5%;
        bottom: 0px;
        background: var(--color);
        transition: transform var(--line-arrow-transition-duration)
          var(--line-arrow-easing);
        transition-delay: var(--line-arrow-transition-delay);
        z-index: 2;
      }

      &::before {
        width: var(--line-arrow-width);
        height: var(--line-arrow-height);
        transform-origin: 0% 100%;
        transform: rotate(-90deg);
      }

      &::after {
        height: var(--line-arrow-width);
        width: var(--line-arrow-height);
        transform-origin: 100% 0%;
        transform: translateX(-1px) rotate(0deg);
        }
    }
    .support{
      position: absolute;
      right: 10px;
      bottom: 10px;
      padding: 10px;
      display: flex;
    }
  
    a {
      margin: 0 10px;
      color: #ffffff;
      font-size: 1.8rem;
      backface-visibility: hidden;
      transition: all 150ms ease;
      &:hover{
        transform: scale3d(1.1);
      }
    }
}

